Source: ros-kinetic-thormang3-foot-step-generator
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-geometry-msgs, ros-kinetic-message-generation, ros-kinetic-robotis-controller-msgs, ros-kinetic-roscpp, ros-kinetic-roslib, ros-kinetic-std-msgs, ros-kinetic-thormang3-walking-module-msgs
Homepage: http://wiki.ros.org/thormang3_foot_step_generator
Standards-Version: 3.9.2

Package: ros-kinetic-thormang3-foot-step-generator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cmake-modules, ros-kinetic-geometry-msgs, ros-kinetic-message-runtime, ros-kinetic-robotis-controller-msgs, ros-kinetic-roscpp, ros-kinetic-roslib, ros-kinetic-std-msgs, ros-kinetic-thormang3-walking-module-msgs
Description: This package provides foot step generation for the thormang3.
